body {
    border: 1px solid black;

    font-size: 1.5vw;

    padding: 2.5vw;
    margin: 2.5vw;
}

a {
    color: #0000ff;
}
a:visited {
    color: #0000ff;
}

header, nav, footer { 
    text-align: center;
}

.photo {
    width: 33vw;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'time time pic1'
    'pic2 what what';
}

.time {
    grid-area: time;
}
.pic1 {
    grid-area: pic1;
}
.pic2 {
    grid-area: pic2;
}
.what {
    grid-area: what;
    text-align: right;
}

footer a {
    text-decoration: none;

    background-color: #ececec;
    color: #0000ff;
}

footer a strong {
    background-color: #0000ff;
    color: #ececec
}

footer a:hover {
    background-color: #0000ff;
    color: #ececec;
}

footer a:hover strong {
    background-color: #ececec;
    color: #0000ff;
}