.photo {
    width: 33vw;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'time time pic1'
    'pic2 what what';
    grid-gap: 10px;
}

.time {
    grid-area: time;
}
.pic1 {
    grid-area: pic1;
}
.pic2 {
    grid-area: pic2;
}
.what {
    grid-area: what;
}
